
p {
    color: #ffffff;
    /* font-size: 50px; */
    /* background-image: url("../image/img1.png"); */
}


/* body {
  background-image: url("../image/img1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
