h1{
    color: blue;
    font-size: 100px;
}
p{
    color: rgb(12, 0, 180);
    background-color: antiquewhite;
    font-size: 20px;    
    border-left:10px double blue;
    padding: 50px;
    /* border-radius: 50px; */
   
}

h2{
    border:10px double rgb(255, 0, 0);
    padding:20px;
    margin: 30px;
}
h3{
    border:10px double rgb(0, 255, 34);
    padding:30px;
    margin: 10px;
}