p {
  color: rgb(25, 0, 255);
  font-size: 18px;
}

.highlight {
  color: red;
  background-color: yellow;
}

#h2id {
  color: white;
  background: green;
  padding: 10px;
}

div p {
  color: purple;
}

input[type="text"] {
  border: 2px solid blue;
}
input[type="password"] {
  border: 2px solid red;
}
